{% extends "base.html" %}
{% block title %}Your tasks{% endblock title %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-10 col-md-6 offset-sm-1 offset-md-3">
			<div class="container p-0 mt-5 mb-3">
				<h6>{{ pending|length|default:"No" }} tasks for today</h6>
				<h4>{% now "l, F j" %}</h4>
				<div class="input-group">
					<input type="text" class="form-control" id="taskInput">
					</button>
					<button type="button" class="btn btn-primary" id="btnAdd" data-bs-toggle="modal" data-bs-target="#formModal"><i class="bi bi-plus-lg"></i></button>
				</div>
			</div>
			<div class="container">
			{% if pending %}
				<h5>Pending</h5>
			{% for task in pending %}
				<div class="row mb-2">
					<div class="card">
						<div class="card-body">
							<h6 class="card-title">
								<a class="text-decoration-none" href="#collapse-pending-{{ forloop.counter }}" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse-pending-{{ forloop.counter }}">{{ task.title }}</a>
								<span class="text-secondary m-1" style="font-size: 0.8rem"><a tabindex="0" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" role="button" data-bs-toggle="popover" data-bs-custom-class="warning-popover" data-bs-trigger="focus" data-bs-title="Time left" data-bs-content="{{ task.end_date|timeuntil }}"><i class="bi-clock"></i> {{ task.end_date|date:"Y-m-d | H:m" }}</a></span>
							</h6>
							<div class="container-fluid p-0">
								{% if task.status == 'success' %}
								<span class="badge text-bg-primary">Success</span>
								{% else %}
								<span class="badge text-bg-danger">Pending</span>
								{% endif %}

								{% if task.important %}
								<span class="badge text-bg-warning">Important</span>
								{% endif %}
							</div>
							<div class="collapse mt-3" id="collapse-pending-{{ forloop.counter }}">
								<p class="card-text">{{ task.descrip }}</p>
								<div class="d-flex justify-content-end">
									<div class="btn-group btn-group-sm p-1">
										<button type="button" class="btn btn-danger active"><i class="bi bi-trash"></i></button>
										<button type="button" class="btn btn-danger" onclick="location.assign('{% url 'task_delete' task.id %}')">Delete</button>
									</div>
									<div class="btn-group btn-group-sm p-1">
										{% if task.status == 'success' %}
										<button type="button" class="btn btn-primary active"><i class="bi bi-x-lg"></i></button>
										<button type="button" class="btn btn-primary" onclick="location.assign('{% url 'task_toggle' task.id %}')">Unmark</button>
										{% else %}
										<button type="button" class="btn btn-outline-primary active"><i class="bi bi-check-lg"></i></button>
										<button type="button" class="btn btn-outline-primary" onclick="location.assign('{% url 'task_toggle' task.id %}')">Mark</button>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			{% endif %}
			<br>
			{% if overdue %}
				<h5>Overdue</h5>
			{% for task in overdue %}
				<div class="row mb-2">
					<div class="card">
						<div class="card-body">
							<h6 class="card-title">
								<a class="text-decoration-none" href="#collapse-overdue-{{ forloop.counter }}" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse-overdue-{{ forloop.counter }}">{{ task.title }}</a>
								<span class="text-secondary m-1" style="font-size: 0.8rem"><a tabindex="0" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" role="button" data-bs-toggle="popover" data-bs-custom-class="secondary-popover" data-bs-trigger="focus" data-bs-title="Time expired" data-bs-content="{{ task.end_date|timesince }}"><i class="bi-clock"></i> {{ task.end_date|date:"Y-m-d | H:m" }}</a></span>
							</h6>
							<div class="container-fluid p-0">
								{% if task.status == 'success' %}
								<span class="badge text-bg-primary">Success</span>
								{% else %}
								<span class="badge text-bg-danger">Pending</span>
								{% endif %}

								{% if task.important %}
								<span class="badge text-bg-warning">Important</span>
								{% endif %}
							</div>
							<div class="collapse mt-3" id="collapse-overdue-{{ forloop.counter }}">
								<p class="card-text">{{ task.descrip }}</p>
								<div class="d-flex justify-content-end">
									<div class="btn-group btn-group-sm p-1">
										<button type="button" class="btn btn-danger active"><i class="bi bi-trash"></i></button>
										<button type="button" class="btn btn-danger" onclick="location.assign('{% url 'task_delete' task.id %}')">Delete</button>
									</div>
									<div class="btn-group btn-group-sm p-1">
										{% if task.status == 'success' %}
										<button type="button" class="btn btn-primary active"><i class="bi bi-x-lg"></i></button>
										<button type="button" class="btn btn-primary" onclick="location.assign('{% url 'task_toggle' task.id %}')">Unmark</button>
										{% else %}
										<button type="button" class="btn btn-outline-primary active"><i class="bi bi-check-lg"></i></button>
										<button type="button" class="btn btn-outline-primary" onclick="location.assign('{% url 'task_toggle' task.id %}')">Mark</button>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			{% endif %}

			{% if not overdue and not pending %}
			    <h5>There is no task for now. <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" role="button" data-bs-toggle="modal" data-bs-target="#formModal" href="#">Add a task</a></h5>
			{% endif %}
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-fullscreen-sm-down modal-dialog-centered">
		<div class="modal-content">
			<form method="post" action="{{ form_action }}">
				{% csrf_token %}
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="formModalLabel">Create Task</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="titleInput" name="title" required>
						<label for="titleInput">Name</label>
					</div>
					<div class="form-floating mb-3">
						<textarea class="form-control" id="descriptionTextarea" style="height: 100px" name="descrip"></textarea>
						<label for="descriptionTextarea">Details</label>
					</div>
					<div class="container-fluid">
						<div class="d-flex gap-3 row mb-3">
							<div class="col p-0">
								<div class="form-floating">
									<input type="date" class="form-control" id="expireInputDate" name="end-date" value="{% now "Y-m-d" %}"  min="{% now "Y-m-d" %}" required>
									<label for="expireInputDate">End date</label>
								</div>
							</div>
							<div class="col p-0">
								<div class="form-floating">
									<input type="time" class="form-control" id="expireInputDate" name="end-time" value="{% now "H:i" %}" min="{% now "H:i" %}" required>
									<label for="expireInputDate">Time</label>
								</div>
							</div>
						</div>
					</div>
					<div class="form-check justify-content-center">
						<input type="checkbox" class="form-check-input" id="importantCheck" name="important">
						<label class="form-check-label" for="importantCheck">Important</label>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Create</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	const btnAdd = document.getElementById("btnAdd");
	const taskInput = document.getElementById("taskInput");
	const titleInput = document.getElementById("titleInput");
	
	btnAdd.addEventListener('click', () => {
        titleInput.setAttribute("value", taskInput.value);
    });
</script>
{% endblock content %}
